<div class="row first-row-margin">
    <div class="col-lg-12">
        <div class="panel panel-default " v-cloak>
            <div class="panel-heading">
                <h4>
                    <span class="circle" :class="circleClass"></span>
                    <span>{{t($lang.wgserver.wgServer)}}</span>
                </h4>
            </div>
            <div class="panel-body">
                <!-- add A New OpenVpn configuration -->
                <div id="defaultStatus" v-if="!showServer" v-cloak>
                    <br />
                    <p>{{t($lang.wgserver.wgIntroduction)}}</p>
                    <ol>
                        <li>{{t($lang.wgserver.addwgConfig)}}.</li>
                        <li>{{t($lang.wgserver.addPeerConfig)}}.</li>
                        <li>{{t($lang.wgserver.copyctInfo)}}.</li>
                        <li>{{t($lang.wgserver.onStartBtn)}}.</li>
                    </ol>
                    <p>{{t($lang.wgserver.add_peerConfig)}}.</p>
                    <span class="list-group-item  list-btnblock text-center panel-status glGp" style="border-bottom: none">
                        <gl-btn type="modify" class="rec gl-border" @click="createKey">
                            <span class="fa fa-plus"></span>
                            <span>{{t($lang.wgserver.Initialize_server)}}</span>
                            <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="addState"></span>
                        </gl-btn>
                    </span>
                </div>
                <div v-else>
                    <ul class="nav nav-tabs nav-ul">
                        <li class="active">
                            <a href="#wgserver-status" data-toggle="tab">
                                {{t($lang.wgserver.status)}}
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#wgserver-manage" data-toggle="tab">
                                {{t($lang.wgserver.manage)}}
                                <span class="hidden-xs"></span>
                            </a>
                        </li>
                    </ul>
                    </br>
                    <div class="tab-content">
                        <!-- wgserver-status -->
                        <div id="wgserver-status" class="tab-pane fade in active applit-box">
                            <!-- local_ip -->
                            <span class="list-group-item list-group-narrow  clearfix">
                                <div class="text-left pull-left ">{{t($lang.wgserver.localip)}}</div>
                                <div class="list-input-field">
                                    <gl-input v-model.trim="wgsget.local_ip" :disabled="ssStatus.success || btnstatus"></gl-input>
                                </div>
                            </span>
                            <!-- local_port -->
                            <span class="list-group-item list-group-narrow clearfix">
                                <div class="text-left pull-left ">{{t($lang.wgserver.localport)}}</div>
                                <div class="list-input-field">
                                    <gl-input v-model.trim="wgsget.local_port" :disabled="ssStatus.success || btnstatus"></gl-input>
                                </div>
                            </span>
                            <!-- 启动/关闭 -->
                            <div style="padding: 10px;text-align: center">
                                <transition name="fade">
                                    <gl-btn :type="typename" @click="toggleClient" :disabled="btnstatus">
                                        {{t(btnControl)}}
                                        <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="btnstatus"></span>
                                    </gl-btn>
                                </transition>
                            </div>
                            <span class="list-group-item client-list-heading" v-show="ssStatus.success && peStatus.peers && peStatus.peers.length >　0">
                                <ul class="client-list-row clearfix">
                                    <li class="col-md-2 col-xs-2 ssclient-rank ">{{t($lang.wgserver.name)}}</li>
                                    <li class="col-md-2 col-xs-5 ssclient-ip text-center">{{t($lang.wgserver.clientIp)}}</li>
                                    <li class="col-md-4 col-xs-5 ssclient-data text-center hidden-xxs ">{{t($lang.wgserver.sentReceived)}}</li>
                                    <li class="col-md-4 col-xs-4 ssclient-time hidden-xs hidden-sm text-center">{{t($lang.wgserver.lastConnected)}}</li>
                                </ul>
                            </span>
                            <span class="list-group-item client-item clsLanClientsItem" v-for="(item,index) in peStatus.peers"
                                v-show="ssStatus.success　&& peStatus.peers &&　peStatus.peers.length >　0">
                                <ul class="client-list-row clearfix" style="padding-left: 10px">
                                    <li class="col-md-2 col-xs-2 ssclient-rank" style="overflow: hidden;text-overflow: ellipsis">{{item.name}}</li>
                                    <li class="col-md-2 col-xs-5 ssclient-ip text-center">{{item.host}}</li>
                                    <li class="col-md-4 col-xs-5 ssclient-data text-center hidden-xxs ">{{item.rx}}
                                        / {{item.tx}}</li>
                                    <li class="col-md-4 col-xs-4 ssclient-time hidden-xs hidden-sm text-center">{{item.latest_handshake}}</li>
                                </ul>
                            </span>
                        </div>
                        <!-- wgserver-manage -->
                        <div id="wgserver-manage" class="tab-pane fade applit-box">
                            <span class="list-group-item table-head">
                                {{t($lang.wgserver.wgClient)}}
                            </span>
                            <div class="wgserver-config">
                                <table border="1" cellspacing="0" width="100%" style="border-color: #000">
                                    <tr>
                                        <td width="20%">{{t($lang.wgserver.name)}}</td>
                                        <td width="40%">{{t($lang.wgserver.clientIp)}}</td>
                                        <td>{{t($lang.wgserver.Configurations)}}</td>
                                        <td>{{t($lang.wgserver.delete)}}</td>
                                    </tr>
                                    <tr v-for="(item, index) in wgclients" v-show="wgclients">
                                        <td width="20%">{{item.description}}</td>
                                        <td width="40%">{{item.client_ip}}</td>
                                        <td>
                                            <span class="fa fa-file btn-icon" :class="{'died':ssStatus.success}" @click="copyPeconfig(index)"></span>
                                        </td>
                                        <td>
                                            <span class="fa fa-trash btn-icon" :class="{'died':ssStatus.success}"
                                                @click="removeClient(index)" style="font-size: 16px"></span>
                                        </td>
                                    </tr>
                                    <tr v-show="!wgclients || wgclients.length == 0">
                                        <td colspan="4" class="nodata">
                                            {{t($lang.wgserver.noData)}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <gl-btn type="default" id="ModifyConfigs" @click="addopenModal" :disabled="addState">
                                <span class="fa fa-plus"></span>
                                <span>{{t($lang.wgserver.addUser)}}</span>
                                <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="addState"></span>
                            </gl-btn>
                        </div>
                    </div>
                </div>
                <!-- add modal -->
                <gl-modal :title="$lang.wgserver.addwgClient" :modalStatus="showModal">
                    <div class="modal-body">
                        <!-- name -->
                        <span class="list-group-item list-group-narrow clearfix">
                            <span class="ssclientLabel ss_left">
                                <gl-label :labelValue="$lang.label.name"></gl-label>
                            </span>
                            <span class="ssclientLabel ss_right" style="padding: 0">
                                <gl-tooltip>
                                    <gl-input placeholder="Required" v-model="nmInput"></gl-input>
                                </gl-tooltip>
                            </span>
                        </span>
                    </div>
                    <div class="modal-footer">
                        <gl-btn class="btnl clientBtn" type="modify" @click="closeModal">{{t($lang.button.cancel)}}</gl-btn>
                        <gl-btn class="btnr clientBtn" type="purple" @click="addClients" :disabled="manLen">{{t($lang.button.add)}}</gl-btn>
                    </div>
                </gl-modal>
                <!-- copy config modal -->
                <gl-modal title="Wireguard Client Configurations" :modalStatus="copyModal">
                    <div class="modal-body" style="padding-top: 0;">
                        <h4>{{t($lang.button.copy_followConfig)}}</h4>
                        <ul class="nav nav-pills" style="margin-bottom:10px">
                            <li role="presentation" class="QrcodeShow active" @click="Qrcodeshow"><a href="#">{{t($lang.wgserver.QRCode)}}</a></li>
                            <li role="presentation" class="JSONShow" @click="jsonshow"><a href="#">{{t($lang.wgserver.Plan)}}</a></li>
                            <li role="presentation" class="configShow" @click="infoshow"><a href="#">{{t($lang.wgserver.JSON)}}</a></li>
                        </ul>
                        <div style="display:none" class="textarea">
                            <span>{{t($lang.wgserver.jsonplease)}}</span>
                            <br>
                            <textarea v-model="ctlist" id="sourcejson" ref="serTextarea" class="marginTOP" v-focus="copyModal"></textarea>
                        </div>
                        <div class="qrcodeMO">
                            <span>{{t($lang.wgserver.qrcodeplease)}}</span>
                            <br>
                            <div class="textareaQRCode marginTOP">
                                <div id="qrcode"></div>
                            </div>
                        </div>
                        <div class="jsonConfig" style="display:none">
                            <span>{{t($lang.wgserver.plantextplease)}}
                            </span>
                            <div class="textareaQRCode marginTOP" id="sourcejson">
                                <pre>{{cfg}}&nbsp;</pre>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <gl-btn class="clientBtn" type="default" @click="closeModal" style="width: 110px;">{{t($lang.button.close)}}</gl-btn>
                    </div>
                </gl-modal>
            </div>
        </div>
    </div>
</div>