/* gulp */
.searchBox .search{
    float: left;
}
body{
    color: #595e7c
}
.search.btn-group {
    border-right: none;
}
.search-select .input-control {
    border-right: none;
}
.search-input {
    width: 85%;
}
.search-input > input {
    border-radius: 0; 
    height: 38px;
    line-height: 37px;
    line-height: 25px\0;
    width: 100%;
    padding-left: 30px;
}
.search-search {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    padding: 12px 0px!important;
    border: none!important;
}
.searchLeft {
    display: inline-block;
    margin: 0 auto;
}

.softwareBtnBox,
.searchBoxInput {
    float: left;
}
.searchLeft > .softwareBtn,.searchLeft > .softwareInput {
    float: left;
    margin-bottom: 10px;
}
.searchLeft  .btn_left {
    margin-left: 0;
}
.searchLeft  .softwareBtn,
.updateBtn .softwareBtn {
    background: #00838f;
}
.searchLeft  .softwareBtn {
    border-radius: 0;
    padding: 7.5px;
    padding: 5.8px\0;
    font-size: inherit;
    box-sizing: border-box
}
.default_table .installSoft {
    padding: 0 15px;
    font-size: 12px;
    background: #00838f;
    margin: 0;
}
.tabBox {
    position: relative;
    min-height: 140px;
    text-align: center;
}
.softwareTab {
    width: 100%;
    height: 100%;
}
#softwarekey {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
#softwarekey > span {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#softwarekey > span:hover {
    background: #00838f;
    color: #fff;
}
#softwareTabBox {
    display: inline-block;
    border: 1px solid #ccc; 
    border-bottom: none; 
}
#getmoresoftware {
    width: 100%;
    margin: 0;
}
.softwareSearch {
    float: left;
    position: relative;
    z-index: 6;
}
#searchTipBox {
    position: absolute;
    width: 100%;
    left: 0;
    top: 35px;
    margin: 0;
    padding: 0;
    border-top: none; 
    -webkit-box-shadow: 1px 1px 3px #ededed;
    -moz-box-shadow: 1px 1px 3px #ededed;
    -o-box-shadow: 1px 1px 3px #ededed;
    border: 1px solid #ccc;
    background: #fff;
}
#searchTipBox > li {
    list-style: none;
    padding: 5px 0px;
    padding-left: 10px;
    text-align: left;
}
#searchTipBox > li:hover {
    background: #f8f8f8;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.softwareNum {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
}
/* tabBoxTop */
.tabBoxTop {
    border-bottom: 1px solid #ccc;
    background: #00838f;
}
.tabBoxTop > span {
    float: left;
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-left: 1px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.tabBoxTop .tabBoxTop_one {
    width: 200px;
    border-left: none;
}
/* tabBoxContent */
.tabBoxContent {
    border-top: none;
}
.tabBoxContent_list {
    border-bottom: 1px solid #ccc;
}
.tabBoxContent_list > span {
    float: left;
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-left: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* padding-left: 5px; */
}
.tabBoxContent_list .tabBoxContent_listOne {
    border-left: none;
    width: 200px;
}
/* btn */
.installSoft.button {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 20px;
}
.soft-descreption {
    color: chocolate;
}



.softHead {
    font-weight: bold;
    font-size: 13px;
}
.newBox {
    padding: 15px 30px;
}
.newSoft {
    border-bottom: 1px solid rgb(204, 204, 204);
}
.newSoft > span {
    padding: 10px 0;
    text-align: left
}
.softName {
    color: #1372de;
    text-decoration:underline;
    cursor:pointer
}
.softversion,
.softDes {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 30px;
}
.newSoft .softDes {
    padding: 17px 15px 17px 5px;
}
.newSoft .softversion,
.newSoft .softName {
    padding: 17px 0;
}
.softName:hover {
    opacity: .7;
}
.soft-left.btn-dropdown,
.soft-right {
    float: left;
}
.soft-left.btn-dropdown {
    width: 10%;
    border-right: none; 
}
.soft-right.gl-input {
    width: 90%;
}
.soft-right.gl-input > input {
    border-radius: 0 3px 3px 0; 
    padding-left: 26px;
}
.modal-body.software-body {
    /* overflow: visible; */
}
@media screen and (max-width: 768px) {
    .panel-body {
        padding: 15px;
    }
    .soft-right.gl-input {
        width: 70%;
    }
    .soft-left.btn-dropdown {
       min-width: 30%;
    }
    .tabBoxTop > span,
    .tabBoxContent_list > span {
        width: 70px;
    }
    .tabBoxContent_list .tabBoxContent_listOne,
    .tabBoxTop .tabBoxTop_one {
        width: 158px;
    }
    .searchBoxInput {
        margin-bottom: 10px;
    }
    .searchBoxInput,
    .softwareBtnBox {
        float: none;
        display: inline-block;
    }
    .searchBox {
        /* margin-bottom: -30px; */
    }
    #softwarekey {
        margin-top: 10px;
    }
    #softwarekey > span {
        margin: 0px;
        padding: 5px;
    }
    .modal-body.software-body {
        overflow-y: scroll;
    }
}
@media screen and (max-width: 320px) {
    .tabBoxContent_list .tabBoxContent_listOne,
    .tabBoxTop .tabBoxTop_one {
        width: 100px;
    }
    .tabBoxContent_list > span {
        padding-left: 0;
    }
    .searchLeft .softwareBtn {
        margin: 0;
    }
    .softwareBtnBox .softwareBtn {
        margin-bottom: 5px;
    }
    .soft-left.btn-dropdown {
        min-width: 25%;
     }
}
.updateBtn {
    float: right;
}
.updateBtn .softwareBtn {
    padding: 4.5px 24px;
    margin: 4px 0;
}
#softwarekey span.activeSpan {
    background-color: #00838f;
    color: #fff;
}
.panel-default>.panel-heading>h4{
    height: 23px;
    }
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
background-color: rgb(0, 131, 143);
border-color:rgb(0, 131, 143)
}
.pagination>li>a,
.pagination>li>span{
color: rgb(0, 131, 143)
}
.pagination>li>a>input{
    padding: 5px;
    text-align: center;
}
