<div class="row first-row-margin" id="ssserverPanel" v-cloak>
    <div class="col-lg-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <h4>
                    <span class="circle" id="headerCircle" :class="{active: sServerStatusInfo.status=='started'}"></span>
                    {{t($lang.ssserver.shadowServer)}}
                </h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <!-- Port -->
                    <span class="list-group-item list-group-narrow clearfix">
                        <div class="text-left pull-left ">
                            <span>{{t($lang.ssserver.port)}}</span>
                        </div>
                        <div class="list-input-field">
                            <gl-input :placeholder="$lang.holdPlace.required" :disabled="sServerStatusInfo.status=='started'" v-model.trim="sServerInfo.port"></gl-input>
                        </div>
                    </span>
                    <!-- Password -->
                    <span class="list-group-item list-group-narrow clearfix">
                        <div class="text-left pull-left">
                            <span>{{t($lang.ssserver.psw)}}</span>
                        </div>
                        <div class="list-input-field">
                            <span :class="{'has-error':pwdTooltipMsg!=null}" class="clearfix">
                                <div class="input-append input-group">
                                    <gl-tooltip :content="pwdTooltipMsg">
                                        <gl-input :placeholder="$lang.holdPlace.required" :disabled="sServerStatusInfo.status=='started'" type="password" inputShow
                                            v-model.trim="sServerInfo.password"></gl-input>
                                    </gl-tooltip>
                                </div>
                            </span>
                        </div>
                    </span>
                    <!-- Encryption  -->
                    <span class="list-group-item input-text SSencryptionType list-group-narrow clearfix">
                        <div class="text-left pull-left ">
                            <span>{{t($lang.ssserver.encryption)}}</span>
                        </div>
                        <div class="list-input-field">
                            <gl-select :option="encryptArray" showNum="6" :disabled="sServerStatusInfo.status=='started'" v-model="sServerInfo.encryption"></gl-select>
                        </div>
                    </span>
                    <span class="list-group-item  panel-status vpn-status" style="max-width:100%;padding: 15px" :class="{hide:sServerStatusInfo.status=='stopped'}">
                        <!-- <span>
                            <h5 id="connectStatus">
                                <strong>{{t($lang.ssserver.serverStarted)}}!</strong>.
                            </h5>
                        </span> -->
                        <span>
                            <span class="text-left">{{t($lang.ssserver.ipAddress)}}</span>
                            <span class="pull-right">{{sServerIPInfo.serverip}}</span>
                        </span>
                        <!-- <span class="hide" id="SSDataSpan">
                            <span class="text-left">Data Received / Sent</span>
                            <span class="pull-right" id="vpnData"></span>
                        </span> -->
                    </span>

                    <div class="text-center" style="padding: 10px">
                        <gl-btn :type="typename" :disabled="isResetBtn" @click="setServer">
                            {{t(btnName)}}
                            <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="isResetBtn"></span>
                        </gl-btn>
                        <!-- <span class="fa-info-circle fa alert-red" id="alertErrorMsgSpan" data-toggle="tooltip" data-placement="right" title="" data-html="true"></span> -->
                    </div>
                </div>
                <!--end of status-->
                <div class="panel-clients" v-show="sServerStatusInfo.status=='started' && sortedClient.length > 0">
                    <div class="list-group client-list ">
                        <span class="list-group-item client-list-heading">
                            <div>
                                <ul class="client-list-row ">
                                    <li class="col-md-1 col-xs-1 ssclient-rank hidden-xs hidden-sm hidden-md">#</li>
                                    <li class="col-md-3 col-xs-4 ssclient-ip">{{t('IP')}}</li>
                                    <li class="col-md-3 col-xs-3 ssclient-data text-left hidden-xxs ">{{t($lang.ssserver.sentReceived)}}</li>
                                    <li class="col-md-3 col-xs-3 ssclient-time hidden-xs hidden-sm">{{t($lang.ssserver.lastConnected)}}</li>
                                    <li class="col-md-1 col-xs-2 client-list-block pull-right ">{{t($lang.ssserver.block)}} </li>
                                </ul>
                            </div>
                        </span>
                        <span class="list-group-item client-item" v-for="(client,index) in sortedClient">
                            <ul class="client-list-row ">
                                <li class="col-md-1 col-xs-1 ssclient-rank hidden-xs hidden-sm hidden-md">{{index+1}}</li>
                                <li class="col-md-3 col-xs-4 ssclient-ip">{{client.ip}}</li>
                                <li class="col-md-3 col-xs-3 ssclient-data text-left hidden-xxs ">{{getFlow(client.sent)}}/{{getFlow(client.recv)}}</li>
                                <li class="col-md-3 col-xs-3 ssclient-time hidden-xs hidden-sm">{{client.lastconnect}}
                                    <br/>
                                </li>
                                <li class="col-md-1 col-xs-2 pull-right ">
                                    <span class=" btn-toggler "></span>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>