<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <title>GL.iNet Admin Panel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="google" value="notranslate">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" href="/src/static/css/lib.min.css?rev=3941237a139856144i9r8fd9321fb">
        <link rel="stylesheet" href="/src/static/css/sb-admin.css?rev=de1237a939856498i77r5d9d32134">
        <link rel="stylesheet" href="/src/static/css/adapter.css?rev=15123fb6d0398567487f9drd96213bf">
        <script src="/src/lib/eval2.js?rev=91235b51bf579f9347495596f2rddd6"></script>
        <script src="/src/lib/require.js?rev=5b123086923985674r859fd31837b"></script>
        <script src="/src/config.js?rev=091123fcd7bbceb39856d45r5d92136"></script>
        <script src="/src/main.js?rev=9e123e681f7378fa3d985rd67556211"></script>
	</head>
	<body style="background-color:#ebedf2;">
		<div id="app" v-cloak>
            <transition name="main-fade" mode="out-in">
                <!-- <loading v-if="loading"></loading> -->
                <!-- <gl-loading v-if="loading"></gl-loading> -->
                <indext ></indext>
            </transition>
        </div>
	</body>
</html>