<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default " id="idTimezonePanel" v-cloak>
            <div class="panel-heading">
                <h4>
                    <span class="circle active"></span>
                    {{t($lang.timerzone.timezone)}}
                </h4>
                <gl-btn type="purple" class="pull-right" :disabled="applyDisabled" @click="setTimeZoneApply">{{t($lang.button.apply)}}</gl-btn>
            </div>
            <div class="panel-body panel-status">
                <div class="list-group timezone-body">
                    <span class="list-group-item slider-btn-inlist">
                        <div class="text-left hidden-xs"> {{t($lang.timerzone.routerTime)}}</div>
                        <div class="text-left pull-left visible-xs-block" style="margin-top:-5px;"> {{t($lang.timerzone.routerTime)}}</div>
                        <div class="pull-right gl-text-center" id="TimezoneDisplay">{{systemTime}}</div>
                        <div class="clearfix"></div>
                    </span>
                    <span class="list-group-item slider-btn-inlist alert-info routertime-reminder hide bg-danger" style="padding: 10px 15px;">
                        <div class="text-left alert-red" style="color: chocolate">
                            <span class="fa-info-circle fa"></span>
                            {{t($lang.timerzone.routerTimezone)}}
                        </div>
                        <div class="pull-right gl-text-center">
                            <button class="btn btn-default btn-ms" id="BtnAutoSync" @click="autoSync">{{t($lang.timerzone.sync)}}</button>
                        </div>
                    </span>
                    <br/>
                    <span>
                        <div class="form-item form-type-select">
                            <div id="form-time-zone" name="classic">
                                <input id="action" type="hidden" name="action" value="settimezone" />
                                <gl-select :option="continentOptions" optionName="text" v-model="continentSelected" showNum="7" class="idSelectCity" :onChange="continentSelectedChange"></gl-select>
                                <br/>
                                <gl-select :option="cityOptions" optionName="value" v-model="citySelected" showNum="5" class="idSelectCity" :onChange="citySelectedChange"></gl-select>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>