/* applications */
#TimezoneDisplay {
    margin:-23px 10px 0 0;
}
#BtnAutoSync {
    margin:-50px 0 0 0;
    border-radius:50px;
}
@media (max-width:768px) {
    .gl-text-center {
        float: none!important;
        text-align: center
    }

}
@media (max-width:640px) {
    .timezone-body>.list-group-item {
        /* height: 80px; */
    }
    #TimezoneDisplay {
        margin-top: 5px;
    }
    #BtnAutoSync {
        margin-top: -5px;
    }
}
.timeSelect,
.timeSelect .select-control,
.timeSelect .select-control .input-control {
    width: 100%;
}
.idSelectCity {
    margin-bottom: 10px;
}
.idSelectCity,
.idSelectCity .select-control,
.idSelectCity .input-control {
    width: 100%;

}