/* gulp */
.ssclientLabel {
    display: block;
}
.ss_left {
    float: left;
    height: 100%;
    /* line-height: 100%; */
    padding: 10px 5px;
}
.s_right {
    float: right;
}
.ssclientLabel > .select-drop-down {
    margin-right: 0;
}
.clientBtn.button{
    width: 80px;
}
.Publickey {
    word-break: break-all
}
#sourcejson {
    resize: none;
    width: 100%;
    min-height:300px;
    max-height: 550px;
    color: #000!important;
}
.client_state {
    background: #f5f5f5;
    margin: 0;
    padding: 10px;
    color: #000!important;
}
.borderTop {
    /* border-top: 1px solid #777; */
}
.Provider .input-control {
    border: none;
    padding: 0 25px 0 10px;
}
.Provider .input-control.focus {
    box-shadow: none;
}
@media screen and  (max-width: 991px) {
    .modal-footer {
        text-align: center;
    }
    .ssclientLabel {
        padding: 5px;
        float: none;
        width: 180px!important;
        margin: 0 auto;
        text-align: center;
    }
    .ssclientLabel.Provider {
        width: 100%!important;
    }
    .modal-body {
        overflow-y: auto;
        max-height: 389px;
    }
    .borderTop {
        border-top: none;
    }
}
@media screen and  (max-width: 320px) {
    .modal-body {
        overflow-y: auto;
        max-height: 230px;
    }
}
