<div class="row first-row-margin">
    <div class="col-lg-12">
        <div class="panel panel-default " v-cloak>
            <div class="panel-heading">
                <h4>
                    <span class="circle" :class="circleClass"></span>
                    <span>{{t($lang.wgclient.wgClient)}}</span>
                </h4>
            </div>
            <div class="panel-body panel-status">
                <!-- add A New OpenVpn configuration -->
                <div id="defaultStatus" v-if="!showClient" v-cloak>
                    <br />
                    <p>{{t($lang.wgclient.wgIntroduction)}}</p>
                    <ol>
                        <li>{{t($lang.wgclient.addNewConfig)}}.</li>
                        <li>{{t($lang.wgclient.donewgInfo)}}.</li>
                        <li>{{t($lang.wgclient.setConfiguration)}}.</li>
                        <li>{{t($lang.wgclient.onConnectBtn)}}.</li>
                    </ol>
                    <p>{{t($lang.wgclient.addwgConfig)}}.</p>
                    <span class="list-group-item  list-btnblock text-center panel-status glGp" style="border-bottom: none">
                        <gl-btn type="modify" class="rec gl-border" id="ModifyConfigs" @click="openModal" :disabled="btnstatus" style="margin:0">
                            <span class="fa fa-plus"></span>
                            <span>{{t($lang.wgclient.addProfile)}}</span>
                            <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="btnstatus"></span>
                        </gl-btn>
                    </span>
                </div>
                <!-- content -->
                <div v-else>
                    <ul class="nav nav-tabs nav-ul">
                        <li class="active">
                            <a href="#wgclient-status" data-toggle="tab">
                                {{t($lang.wgclient.status)}}
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#wgclient-manage" data-toggle="tab">
                                {{t($lang.wgclient.manage)}}
                                <span class="hidden-xs"></span>
                            </a>
                        </li>
                    </ul>
                    </br>
                    <div class="tab-content">
                        <div id="wgclient-status" class="tab-pane fade in active applit-box">
                            <!-- Server -->
                            <span class="list-group-item list-group-narrow clearfix">
                                <div class="text-left pull-left ">
                                    <span>{{t($lang.wgclient.server)}}</span>
                                </div>
                                <div class="list-input-field">
                                    <gl-select :option="wgclients" optionName="name" @getval="getCheck" :disabled="checkVpn || isRest"
                                        v-model="sectName" showNum="10" checkLang></gl-select>
                                </div>
                            </span>
                            <span id="connectingMsgSpan" class="list-group-item  panel-status vpn-status" v-show="cltstatus.code == 0">
                                <span id="SSDataSpan">
                                    <span class="text-left">{{t($lang.wgclient.upload)}} /
                                        {{t($lang.wgclient.download)}}</span>
                                    <span id="vpnData" class="pull-right">{{cltstatus.rx}} / {{cltstatus.tx}}</span>
                                </span>
                            </span>
                            <!-- 启动/关闭 -->
                            <div style="margin: 10px 0px;text-align: center">
                                <gl-btn :type="typename" @click="toggleClient" :disabled="checkVpn || isRest || addState">
                                    {{t(btnControl)}}
                                    <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="checkVpn ||isRest"></span>
                                </gl-btn>
                                <gl-btn type="default" @click="toggleClient('check')" v-show="btnControl != 'Connect' && checkServer">
                                    {{t($lang.wgclient.changeServer)}}
                                </gl-btn>
                            </div>
                        </div>
                        <div id="wgclient-manage" class="tab-pane fade applit-box">
                            <div class="panel-status">
                                <span class="list-group-item  vpn-setting-heading gl-padding-five ">
                                    <span class="text-left">{{t($lang.wgclient.wgServer)}}</span>
                                    <div class="pull-right" id="displayClientNum" style="padding-right: 8px;">{{wgclients.length}}</div>
                                </span>
                                <div class="list-group panel-status" v-for="(item, index) in wgclients">
                                    <!-- description -->
                                    <span class="list-group-item  vpn-manage-heading vpn-client-header gl-padding-five"
                                        data-toggle="collapse" :href="'#'+item.id">
                                        <span class="text-left pull-left vpn-online-status">
                                            <span class="circle" :class="[item.name==cltstatus.main_server?circleClass:null]"></span>
                                            <span>{{item.description}}</span>
                                        </span>
                                        <button class="btn pull-right btn-xs">
                                            <span class="fa fa-chevron-down"></span>
                                        </button>
                                    </span>
                                    <div class="vpn-manage-body panel-collapse collapse" :id="item.id">
                                        <h4 class="client_state">{{t($lang.wgclient.interface)}}</h4>
                                        <!-- address -->
                                        <a class="list-group-narrow list-group-item clearfix gl-padding-five ">
                                            <span class="ssclientLabel ss_left">
                                                <gl-label :labelValue="$lang.label.address"></gl-label>
                                            </span>
                                            <span class="ssclientLabel s_right">
                                                <gl-input v-model.trim="item.address" :disabled="item.name==cltstatus.main_server &&  cltstatus.code != -204"></gl-input>
                                            </span>
                                        </a>
                                        <!-- private_key -->
                                        <a class="list-group-narrow list-group-item clearfix gl-padding-five ">
                                            <span class="ssclientLabel ss_left">
                                                <gl-label :labelValue="$lang.label.privateKey"></gl-label>
                                            </span>
                                            <span class="ssclientLabel s_right">
                                                <gl-input v-model.trim="item.private_key" :disabled="item.name==cltstatus.main_server &&  cltstatus.code != -204"></gl-input>
                                            </span>
                                        </a>
                                        <!-- listen_port -->
                                        <a class="list-group-narrow list-group-item clearfix gl-padding-five ">
                                            <span class="ssclientLabel ss_left">
                                                <gl-label :labelValue="$lang.label.listenPort"></gl-label>
                                            </span>
                                            <span class="ssclientLabel s_right">
                                                <gl-input v-model.trim="item.listen_port" :disabled="item.name==cltstatus.main_server &&  cltstatus.code != -204"></gl-input>
                                            </span>
                                        </a>
                                        <!-- dns -->
                                        <a class="list-group-narrow list-group-item clearfix gl-padding-five">
                                            <span class="ssclientLabel ss_left">
                                                <gl-label :labelValue="$lang.label.dns" style="text-transform: uppercase"></gl-label>
                                            </span>
                                            <span class="ssclientLabel s_right">
                                                <gl-input v-model.trim="item.dns" :disabled="item.name==cltstatus.main_server &&  cltstatus.code != -204"></gl-input>
                                            </span>
                                        </a>
                                        <h4 class="client_state">{{t($lang.wgclient.peer)}}</h4>
                                        <!-- public_key -->
                                        <a class="list-group-narrow list-group-item clearfix gl-padding-five ">
                                            <span class="ssclientLabel ss_left">
                                                <gl-label :labelValue="$lang.label.publicKey"></gl-label>
                                            </span>
                                            <span class="ssclientLabel s_right">
                                                <gl-input v-model.trim="item.public_key" :disabled="item.name==cltstatus.main_server &&  cltstatus.code != -204"></gl-input>
                                            </span>
                                        </a>
                                        <!-- end_point -->
                                        <a class="list-group-narrow list-group-item clearfix gl-padding-five ">
                                            <span class="ssclientLabel ss_left">
                                                <gl-label :labelValue="$lang.label.endPoint"></gl-label>
                                            </span>
                                            <span class="ssclientLabel s_right">
                                                <gl-input v-model.trim="item.end_point" :disabled="item.name==cltstatus.main_server &&  cltstatus.code != -204"></gl-input>
                                            </span>
                                        </a>
                                        <!-- allowed_ips -->
                                        <a class="list-group-narrow list-group-item clearfix gl-padding-five ">
                                            <span class="ssclientLabel ss_left">
                                                <gl-label :labelValue="$lang.label.allowedIps"></gl-label>
                                            </span>
                                            <span class="ssclientLabel s_right">
                                                <gl-input v-model.trim="item.allowed_ips" :disabled="item.name==cltstatus.main_server &&  cltstatus.code != -204"></gl-input>
                                            </span>
                                        </a>
                                        <!-- persistent_keepalive -->
                                        <a class="list-group-narrow list-group-item clearfix gl-padding-five ">
                                            <span class="ssclientLabel ss_left">
                                                <gl-label :labelValue="$lang.label.keepAlive"></gl-label>
                                            </span>
                                            <span class="ssclientLabel s_right">
                                                <gl-input v-model.trim="item.persistent_keepalive" :disabled="item.name==cltstatus.main_server &&  cltstatus.code != -204"></gl-input>
                                            </span>
                                        </a>
                                        <!-- btn -->
                                        <span class="list-group-item btn-group text-center">
                                            <gl-btn type="modify" @click="removeClient(index)" :disabled="item.name==cltstatus.main_server &&  cltstatus.code != -204">{{t($lang.button.remove)}}</gl-btn>
                                            <gl-btn type="purple" @click="modifyClient(index, item.name)" :disabled="item.name==cltstatus.main_server &&  cltstatus.code != -204">{{t($lang.button.apply)}}</gl-btn>
                                        </span>
                                    </div>
                                </div>
                                <span class="list-group-item  list-btnblock text-center panel-status glGp" style="border-bottom: none;padding: 10px 0">
                                    <gl-btn type="default" class="rec" @click="openModal" :disabled="btnstatus || rmStatus"
                                        style="border-radius: 3px">
                                        <span class="fa fa-plus"></span>
                                        <span>{{t($lang.wgclient.addProfile)}}</span>
                                        <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="btnstatus"></span>
                                    </gl-btn>
                                </span>
                                <span class="list-group-item  list-btnblock text-center panel-status glGp" style="border-bottom: none;padding: 10px 0">
                                    <gl-btn type="modify" class="rec" @click="removeClient('all')" :disabled="rmStatus"
                                        style="border-radius: 3px">
                                        <span class="fa fa-trash btn-icon"></span>
                                        <span>{{t($lang.wgclient.purgeProfiles)}}</span>
                                        <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="rmStatus"></span>
                                    </gl-btn>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- modal -->
            <gl-modal :title="t($lang.wgclient.addWgServer)" :modalStatus="showModal">
                <!-- body -->
                <div class="modal-body">
                    <!-- name -->
                    <span class="list-group-item list-group-narrow clearfix" v-if="nextState">
                        <span class="ssclientLabel ss_left">
                            <gl-label :labelValue="$lang.label.name"></gl-label>
                        </span>
                        <span class="ssclientLabel s_right">
                            <gl-tooltip>
                                <gl-input :placeholder="$lang.holdPlace.required" v-model="nmInput"></gl-input>
                            </gl-tooltip>
                        </span>
                    </span>
                    <div v-else>
                        <ul class="nav nav-tabs" style="margin-bottom: 5px;">
                            <!-- Configuration -->
                            <li class="active" ref="clientpaste" @click="changeWay('paste')">
                                <a>
                                    {{t($lang.wgclient.configuration)}}
                                </a>
                            </li>
                            <!-- user -->
                            <li ref="clientUser" @click="changeWay('user')">
                                <a>
                                    {{t($lang.wgclient.others)}}
                                </a>
                            </li>
                            <!-- Manual Input -->
                            <li @click="changeWay('enter')" ref="clientent">
                                <a>
                                    {{t($lang.wgclient.manualInput)}}
                                    <span class="hidden-xs"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div v-show="wayState == 'one'">
                                <div class="borderTop">
                                    <textarea v-model="ctlist" id="sourcejson" v-focus="wayState" :placeholder="t($lang.holdPlace.manuallyEnter)"></textarea>
                                </div>
                            </div>
                            <div v-show="wayState == 'two'">
                                <!-- type -->
                                <span class="list-group-item list-group-narrow clearfix">
                                    <span class="ssclientLabel ss_left">
                                        <gl-label :labelValue="$lang.label.provider"></gl-label>
                                    </span>
                                    <span class="ssclientLabel s_right Provider" style="width: 218px">
                                        <div style="float: left;">
                                            <gl-select :option="Type" v-model="type" style="min-width: 0px"></gl-select>
                                        </div>
                                        <a href="https://www.azirevpn.com/aff/9x7wisg4" target="_blank" style="float: right;display: block;padding: 10px 0 0 16px;"
                                            v-show="type == 'azirevpn'">{{t($lang.wgclient.registerCounter)}}</a>
                                    </span>
                                </span>
                                <!-- user -->
                                <span class="list-group-item list-group-narrow clearfix">
                                    <span class="ssclientLabel ss_left">
                                        <gl-label :labelValue="type == 'azirevpn' ? $lang.label.userName : $lang.label.account"></gl-label>
                                    </span>
                                    <span class="ssclientLabel s_right">
                                        <gl-input :placeholder="$lang.holdPlace.required" v-model="user"></gl-input>
                                    </span>
                                </span>
                                <!-- password -->
                                <span class="list-group-item list-group-narrow clearfix" v-show="type == 'azirevpn'">
                                    <span class="ssclientLabel ss_left">
                                        <gl-label :labelValue="$lang.label.psw"></gl-label>
                                    </span>
                                    <span class="ssclientLabel s_right">
                                        <gl-input :placeholder="$lang.holdPlace.required" v-model="psw" inputShow type="password"></gl-input>
                                    </span>
                                </span>
                            </div>
                            <div v-show="wayState == 'three'">
                                <h4 class="client_state">{{t($lang.wgclient.interface)}}</h4>
                                <!-- address -->
                                <span class="list-group-item list-group-narrow clearfix">
                                    <span class="ssclientLabel ss_left">
                                        <gl-label :labelValue="$lang.label.address"></gl-label>
                                    </span>
                                    <span class="ssclientLabel s_right">
                                        <gl-input :placeholder="$lang.holdPlace.required" v-model="address" @focusValue="serachip"
                                            @blurValue="serachip"></gl-input>
                                        <div style="color: red;margin: 5px 0 -10px 0px;" class="text-center visible-xs visible-sm"
                                            v-if="!checkip">{{t($lang.wgclient.invalidip)}}</div>
                                    </span>
                                    <span class="pull-right visible-lg visible-md" style="padding: 10px;color: red"
                                        v-if="!checkip">{{t($lang.wgclient.invalidip)}}</span>
                                </span>
                                <!-- private_key -->
                                <span class="list-group-item list-group-narrow clearfix">
                                    <span class="ssclientLabel ss_left">
                                        <gl-label :labelValue="$lang.label.privateKey"></gl-label>
                                    </span>
                                    <span class="ssclientLabel s_right">
                                        <gl-input :placeholder="$lang.holdPlace.required" v-model="prtKey" :error="errorPrt"
                                            @focusValue="serachprikey" @blurValue="serachprikey"></gl-input>
                                        <div style="color: red;margin: 5px 0 -10px 0px;" class="text-center visible-xs visible-sm"
                                            v-if="!checkprikey">{{t($lang.wgclient.invalidprikey)}}</div>
                                    </span>
                                    <span class="pull-right visible-lg visible-md" style="padding: 10px;color: red"
                                        v-if="!checkprikey">{{t($lang.wgclient.invalidprikey)}}</span>
                                </span>
                                <!-- listen_port -->
                                <span class="list-group-item list-group-narrow clearfix">
                                    <span class="ssclientLabel ss_left">
                                        <gl-label :labelValue="$lang.label.listenPort"></gl-label>
                                    </span>
                                    <span class="ssclientLabel s_right">
                                        <gl-input :placeholder="$lang.holdPlace.required" v-model="port" @focusValue="searchport"
                                            @blurValue="searchport"></gl-input>
                                        <div style="color: red;margin: 5px 0 -10px 0px;" class="text-center visible-xs visible-sm"
                                            v-if="!checkport">{{t($lang.wgclient.invalidport)}}</div>
                                    </span>
                                    <span class="pull-right visible-lg visible-md" style="padding: 10px;color: red"
                                        v-if="!checkport">{{t($lang.wgclient.invalidport)}}</span>
                                </span>
                                <!-- dns -->
                                <span class="list-group-item list-group-narrow clearfix">
                                    <span class="ssclientLabel ss_left">
                                        <gl-label :labelValue="$lang.label.dns" style="text-transform: uppercase"></gl-label>
                                    </span>
                                    <span class="ssclientLabel s_right">
                                        <gl-input v-model="dns" @focusValue="searchdns" @blurValue="searchdns"></gl-input>
                                        <div style="color: red;margin: 5px 0 -10px 0px;" class="text-center visible-xs visible-sm"
                                            v-if="!checkdns">{{t($lang.wgclient.invaliddns)}}</div>
                                    </span>
                                    <span class="pull-right visible-lg visible-md" style="padding: 10px;color: red"
                                        v-if="!checkdns">{{t($lang.wgclient.invaliddns)}}</span>
                                </span>
                                <h4 class="client_state">{{t($lang.wgclient.peer)}}</h4>
                                <!-- public_key -->
                                <span class="list-group-item list-group-narrow clearfix">
                                    <span class="ssclientLabel ss_left">
                                        <gl-label :labelValue="$lang.label.publicKey"></gl-label>
                                    </span>
                                    <span class="ssclientLabel s_right">
                                        <gl-input :placeholder="$lang.holdPlace.required" v-model="pubKey" :error="errorPub"
                                            @focusValue="serachpubkey" @blurValue="serachpubkey"></gl-input>
                                        <div style="color: red;margin: 5px 0 -10px 0px;" class="text-center visible-xs visible-sm"
                                            v-if="!checkpubkey">{{t($lang.wgclient.invalidpubkey)}}</div>
                                    </span>
                                    <span class="pull-right visible-lg visible-md" style="padding: 10px;color: red"
                                        v-if="!checkpubkey">{{t($lang.wgclient.invalidpubkey)}}</span>
                                </span>
                                <!-- end_point -->
                                <span class="list-group-item list-group-narrow clearfix">
                                    <span class="ssclientLabel ss_left">
                                        <gl-label :labelValue="$lang.label.endPoint"></gl-label>
                                    </span>
                                    <span class="ssclientLabel s_right">
                                        <gl-input :placeholder="$lang.holdPlace.required" v-model="point" @focusValue="serachpoint" @blurValue="serachpoint"></gl-input>
                                        <div style="color: red;margin: 5px 0 -10px 0px;" class="text-center visible-xs visible-sm"
                                            v-if="!checkpoint">{{t($lang.wgclient.invalidpoint)}}</div>
                                    </span>
                                    <span class="pull-right visible-lg visible-md" style="padding: 10px;color: red"
                                        v-if="!checkpoint">{{t($lang.wgclient.invalidpoint)}}</span>
                                </span>
                                <!-- allowed_ips -->
                                <span class="list-group-item list-group-narrow clearfix">
                                    <span class="ssclientLabel ss_left">
                                        <gl-label :labelValue="$lang.label.allowedIps"></gl-label>
                                    </span>
                                    <span class="ssclientLabel s_right">
                                        <gl-input :placeholder="$lang.holdPlace.required" v-model="ips" @focusValue="serachIPs" @blurValue="serachIPs"></gl-input>
                                        <div style="color: red;margin: 5px 0 -10px 0px;" class="text-center visible-xs visible-sm"
                                            v-if="!checkIPs">{{t($lang.wgclient.invalidips)}}</div>
                                    </span>
                                    <span class="pull-right visible-lg visible-md" style="padding: 10px;color: red"
                                        v-if="!checkIPs">{{t($lang.wgclient.invalidips)}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- footer -->
                <div class="modal-footer">
                    <gl-btn class="btnl clientBtn" type="modify" @click="closeModal">{{t($lang.button.cancel)}}</gl-btn>
                    <gl-btn class="btnr clientBtn" type="purple" @click="addctList" v-show="!nextState" :disabled="interStatus">
                        {{t($lang.button.add)}}
                        <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="interStatus"></span>
                    </gl-btn>
                    <gl-btn class="btnr clientBtn" type="purple" @click="addNext" v-show="nextState" :disabled="nextSts">{{t($lang.button.next)}}</gl-btn>
                </div>
            </gl-modal>

        </div>
    </div>
</div>