.sendmsg-time {
    text-align: center;
}
.sendmsg-msg {
    float: left;
    background: #fff;
    color: #666;
    padding: 10px 15px;
    max-width: 52%;
    border-radius: 5px; 
    margin: 0px 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
}
.msgNum {
    position: absolute;
    right: 20%;
    top: 0;
    height: 100%;
    padding: 0 5px 0 10px;
    line-height: 40px;
    z-index: 11;
    font-size: 12px;
    color: rgba(0, 0, 0, .3)
}
.msg-text {
    width: 80%;
    float: left;
    height: 40px;
}
.msg-text.gl-input > input {
    width: 100%;
    height: 100%;
    padding: 0px 60px 0px 10px;
}
.msg-btn {
    float: left;
    width: 20%;
    height: 40px;
}
.msg-btn button.button {
    width: 100%;
    border-radius: 0;
    margin: 0;
    height: 100%;
}
.sendmsg-box {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
    /* max-height: 500px; */
    /* overflow-y: auto; */
}
.sendmsg-box p {
    margin-bottom: 5px;
}
.icon-left {
    float: left;
    font-size: 20px;
    padding: 10px 0px;
}
.senmsg-head {
    font-weight: bold;
}
.send-btn {
    background: transparent;
    border: none;
    outline: none;
}