<div class="row first-row-margin" id="ssclientDiv" v-cloak>
    <div class="col-lg-12">
        <div class="panel with-nav-tabs panel-default">
            <!-- panel-heading -->
            <div class="panel-heading">
                <h4>
                    <span class="circle" id="headerCircle" :class="{active:ssclientstatus.status=='connected'}"></span>
                    {{t($lang.ssclient.shadowClient)}}
                </h4>
            </div>
            <!-- panel-body -->
            <div class="panel-body panel-status">
                <div id="tabSSStatus" v-if="!showssclient">
                    <br />
                    <p>{{t($lang.ssclient.ss_sock5)}}.</p>
                    <ol>
                        <li>{{t($lang.ssclient.addssClient)}}</li>
                        <li>{{t($lang.ssclient.enableDNS)}}</li>
                        <li>{{t($lang.ssclient.connect)}}</li>
                    </ol>
                    <p>{{t($lang.ssclient.serverConfiguration)}}.</p>
                    <!-- Add a New Shadowsocks Client -->
                    <span class="list-group-item  list-btnblock text-center panel-status glGp">
                        <gl-btn type="modify" class="rec gl-border" id="ModifyConfigs" @click="openModal" :disabled="addState">
                            <span class="fa fa-plus"></span>
                            {{t($lang.ssclient.addShadowsClient)}}
                            <span class="fa-spinner" v-show="addState"></span>
                        </gl-btn>
                    </span>
                </div>
                <div v-else>
                    <ul class="nav nav-tabs nav-ul">
                        <!-- Home -->
                        <li class="active">
                            <a href="#vpnserver-status" data-toggle="tab">
                                {{t($lang.ssclient.status)}}
                            </a>
                        </li>
                        <!-- Travel -->
                        <li role="presentation">
                            <a href="#vpnserver-manage" data-toggle="tab">
                                {{t($lang.ssclient.manage)}}
                                <span class="hidden-xs"></span>
                            </a>
                        </li>
                    </ul>
                    </br>
                    <div class="tab-content">
                        <div class="tab-pane fade in active applit-box panel-status" id="vpnserver-status">
                            <span class="list-group-item clearfix">
                                <span class="text-left ss-left">{{t($lang.ssclient.ssClient)}}</span>
                                <div class="pull-right ss-right">
                                    <gl-select :option="clientsData" optionName="name" @change="getClietid" v-model="curclient"
                                        :disabled="ssBtn || ssclientstatus.status != 'disconnected'"></gl-select>
                                </div>
                            </span>
                            <!-- <span class="list-group-item   panel-status hide vpn-status" id="vpnConnectedInfoSpan"></span> -->
                            <span class="list-group-item  panel-status vpn-status" id="connectingMsgSpan" v-show="ssclientstatus!=null&&ssclientstatus.status!='disconnected'&&dataRC!=='0KB/0KB'">
                                <span id="SSDataSpan">
                                    <span class="text-left">{{t($lang.ssclient.dataReceived)}} /
                                        {{t($lang.ssclient.sent)}}</span>
                                    <span class="pull-right" id="vpnData">{{dataRC}}</span>
                                </span>
                            </span>
                            <div class="text-center" style="text-align: center;padding: 10px 0">
                                <gl-btn type="danger" @click="disconnect" :disabled="ssBtn" v-if="ssclientstatus.status == 'connected'">
                                    {{t($lang.button.disconnect)}}
                                    <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="ssBtn"></span>
                                </gl-btn>
                                <gl-btn type="default" @click="connect" :disabled="ssBtn" v-else>
                                    {{t($lang.button.conect)}}
                                    <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="ssBtn"></span>
                                </gl-btn>
                            </div>
                        </div>
                        <div class="tab-pane fade applit-box" id="vpnserver-manage">
                            <span class="list-group-item  vpn-setting-heading panel-status gl-padding-five ">
                                <span class="text-left">{{t($lang.ssclient.ssConfigurations)}}</span>
                                <div class="pull-right" id="displayClientNum" style="padding-right: 8px;">{{clientsData.length}}</div>
                            </span>
                            <div class="list-group panel-status" v-for="(client,clientIndex) in clientsData">
                                <span class="list-group-item  vpn-manage-heading vpn-client-header gl-padding-five"
                                    data-toggle="collapse" :href="'#'+client.collapseItemID">
                                    <span class="text-left pull-left vpn-online-status">
                                        <span class="circle" :class="{active:ssclientstatus.clientid==client.clientid&&ssclientstatus.status=='connected'}"></span>
                                        <span>{{client.defaultDescription}}</span>
                                    </span>
                                    <button class="btn pull-right btn-xs">
                                        <span class="fa fa-chevron-down"></span>
                                    </button>
                                </span>
                                <div class="vpn-manage-body panel-collapse collapse " :id="client.collapseItemID">
                                    <!-- Description -->
                                    <a class="input-group list-group-item input-text clearfix gl-padding-five ">
                                        <span class="ssclientLabel ss_left">
                                            <gl-label :labelValue="$lang.label.description"></gl-label>
                                        </span>
                                        <span class="ssclientLabel ss_right">
                                            <gl-tooltip :content="client.desTooltipMsg">
                                                <gl-input v-model.trim="client.name" :placeholder="$lang.holdPlace.required"
                                                    :disabled="ssclientstatus.clientid==client.clientid" @postValue="inputing(clientIndex,'desTooltipMsg')"></gl-input>
                                            </gl-tooltip>
                                        </span>
                                    </a>
                                    <!-- IP -->
                                    <a class="input-group list-group-item input-text clearfix gl-padding-five ">
                                        <span class="ssclientLabel ss_left">
                                            <gl-label labelValue="IP"></gl-label>
                                        </span>
                                        <span class="ssclientLabel ss_right">
                                            <gl-tooltip :content="client.IPTooltipMsg">
                                                <gl-input v-model.trim="client.server" :placeholder="$lang.holdPlace.required"
                                                    :disabled="ssclientstatus.clientid==client.clientid" @postValue="inputing(clientIndex,'IPTooltipMsg')"></gl-input>
                                            </gl-tooltip>
                                        </span>
                                    </a>
                                    <!-- Port -->
                                    <a class="input-group list-group-item input-text clearfix gl-padding-five ">
                                        <span class="ssclientLabel ss_left">
                                            <gl-label :labelValue="$lang.label.port"></gl-label>
                                        </span>
                                        <span class="ssclientLabel ss_right">
                                            <gl-tooltip :content="client.portTooltipMsg">
                                                <gl-input v-model.trim="client.port" :placeholder="$lang.holdPlace.required"
                                                    :disabled="ssclientstatus.clientid==client.clientid" @postValue="inputing(clientIndex,'portTooltipMsg')"></gl-input>
                                            </gl-tooltip>
                                        </span>
                                    </a>
                                    <!-- Password -->
                                    <a class="list-group-item   has-password-show-hide passwordSpan clearfix gl-padding-five "
                                        :class="{'has-error':client.pwdTooltipMsg!=null}">
                                        <span class="ssclientLabel ss_left">
                                            <gl-label :labelValue="$lang.label.psw"></gl-label>
                                        </span>
                                        <span class="ssclientLabel ss_right">
                                            <gl-tooltip :content="client.pwdTooltipMsg">
                                                <gl-input type="password" inputShow v-model.trim="client.password"
                                                    :placeholder="$lang.holdPlace.required" :disabled="ssclientstatus.clientid==client.clientid"
                                                    @postValue="inputing(clientIndex,'pwdTooltipMsg')"></gl-input>
                                            </gl-tooltip>
                                        </span>
                                    </a>
                                    <!-- Encryption -->
                                    <a class="list-group-item input-text SSencryptionType clearfix gl-padding-five ">
                                        <span class="ssclientLabel ss_left">
                                            <gl-label :labelValue="$lang.label.encryption"></gl-label>
                                        </span>
                                        <span class="ssclientLabel ss_right">
                                            <gl-select :option="ssclientEncryption" :disabled="ssclientstatus.clientid==client.clientid"
                                                v-model="client.encryption" showNum="5">
                                                </gl-input>
                                        </span>

                                    </a>
                                    <span class="list-group-item btn-group text-center">
                                        <gl-btn type="modify" @click="removeClient(clientIndex)" :disabled="ssclientstatus.clientid==client.clientid">{{t($lang.button.remove)}}</gl-btn>
                                        <gl-btn type="purple" @click="modifyClient(clientIndex)" :disabled="ssclientstatus.clientid==client.clientid">{{t($lang.button.apply)}}</gl-btn>
                                    </span>
                                </div>
                            </div>
                            <!-- Add a New Shadowsocks Client -->
                            <span class="list-group-item  list-btnblock text-center panel-status glGp" style="border-bottom: none">
                                <gl-btn type="modify" class="rec gl-border" @click="openModal" :disabled="addState">
                                    <span class="fa fa-plus"></span>
                                    {{t($lang.ssclient.addShadowsClient)}}
                                    <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="addState"></span>
                                </gl-btn>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <gl-modal :modalStatus="showModal" title="Add a New Shadowsocks Client">
        <!-- body -->
        <div class="modal-body">
            <!-- Description -->
            <span class="list-group-item list-group-narrow clearfix">
                <span class="ssclientLabel ss_left">
                    <gl-label :labelValue="$lang.label.description"></gl-label>
                </span>
                <span class="ssclientLabel ss_right">
                    <gl-input :placeholder="$lang.holdPlace.required" v-model="dspInput"></gl-input>
                </span>
            </span>
            <!-- Encryption -->
            <span class="list-group-item list-group-narrow clearfix">
                <span class="ssclientLabel ss_left">
                    <gl-label :labelValue="$lang.label.encryption"></gl-label>
                </span>
                <span class="ssclientLabel ss_right">
                    <gl-select :option="ssEncryption" v-model="encryptionSelect" showNum="5"></gl-select>
                </span>
            </span>
            <!-- IP Address -->
            <span class="list-group-item list-group-narrow clearfix">
                <span class="ssclientLabel ss_left">
                    <gl-label :labelValue="$lang.label.ipAddress"></gl-label>
                </span>
                <span class="ssclientLabel ss_right">
                    <gl-input :placeholder="$lang.holdPlace.required" v-model="ipInput" check="ip" @checkStatus="inInputStatus"></gl-input>
                </span>
            </span>
            <!-- Port -->
            <span class="list-group-item list-group-narrow clearfix">
                <span class="ssclientLabel ss_left">
                    <gl-label :labelValue="$lang.label.port"></gl-label>
                </span>
                <span class="ssclientLabel ss_right">
                    <gl-input :placeholder="$lang.holdPlace.required" v-model="portInput"></gl-input>
                </span>
            </span>
            <!-- Password -->
            <span class="list-group-item list-group-narrow clearfix">
                <span class="ssclientLabel ss_left">
                    <gl-label :labelValue="$lang.label.psw"></gl-label>
                </span>
                <span class="ssclientLabel ss_right">
                    <gl-input :placeholder="$lang.holdPlace.required" type="password" inputShow v-model="pswInput"></gl-input>
                </span>
            </span>
        </div>
        <!-- footer -->
        <div class="modal-footer btn-center">
            <gl-btn class="btnl clientBtn" type="modify" @click="closeModal">{{t($lang.button.cancel)}}</gl-btn>
            <gl-btn class="btnr clientBtn" type="purple" @click="addClient">{{t($lang.button.add)}}</gl-btn>
        </div>
    </gl-modal>
</div>