.smsg-left,
.smsg-right {
    float: left;
}
.smsg-left {
    width: 6%;
    font-size: 24px;
    min-height: 40px;
    padding-top: 10px;
}
.smsg-number {
    font-weight: 900;
    padding: 3px 0;
}

.smsg-right {
    width: 95%;
}
.smsg-text {
    color: #888;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    white-space: nowrap;
}
.smg-box {
    cursor: pointer;
    padding: 10px;
    position: relative;
}
.smg-box:hover {
    background: rgba(0,0,0,.1); 
}
.smg-box.smg-active {
    background: rgba(0,0,0,.1);
}
.remove-icon {
    position: absolute;
    /* right: 0px;
    top: 0px;
    padding: 12px; */
    padding: 10px;
    top: 25px;
    right: 0px;
    font-size: 16px;
    z-index: 10
}
.remove-icon:hover {
    background: rgba(0,0,0,.3);
    color: #fff;
}
.smg-router {
    /* width: 90%; */
    display: block;
    font-size: 12px;
    color: #666;
    
}
.smg-router:hover {
    color: #666;
}
.msg-edit {
    font-size: 20px;
    padding: 15px 20px;
    cursor: pointer;
}
.msg-edit:hover {
    color: #666
}
.msg-input {
    border: none;
    outline: none;
    background: transparent;
    width: 50%;
    padding: 10px 0px;
    border-bottom: 1px solid #000;
}
.modal-msg{
    background: rgba(0,0,0,.1);
    padding: 10px!important;
}
.modal-msgText {
    min-height: 280px;
    position: relative;
    padding: 15px;
}
.msg-btn {
    float: left;
    width: 20%;
    height: 40px;
}
.msg-btn button.button {
    width: 100%;
    border-radius: 0;
    margin: 0;
    height: 100%;
}
.modal-input {
    width: 100%;
    position: relative;
    /* position: absolute;
    bottom: 0px;
    left: 0; */
}
.msg-text {
    width: 80%;
    float: left;
    height: 40px;
}
.msg-text.gl-input > input {
    width: 100%;
    height: 100%;
    padding: 0px 65px 0px 10px;
}
.sendmsg-time {
    text-align: center;
}
.msg-p {
    float: left;
    max-width: 60%;
    word-break: break-all;
    padding: 8px 10px;
    border-radius: 5px;
    background: rgba(0,0,0,.1)
}
.msgNum {
    position: absolute;
    right: 20%;
    top: 0;
    z-index: 11;
    padding: 0 8px; 
    height: 40px;
    line-height: 40px;
    color: rgba(0,0,0,.2)
}
.smg-time {
    float: right;
    font-weight: normal;
    margin-top: -4px;
}
.unread {
    color: aqua !important;
}
@media (max-width: 768px) {
    .msg-p {
        max-width: 80%;
    } 
    .msg-input {
        width: 45%;
    }
}