<div v-show="moInfo.code != '-17' && moInfo.code != '-3'" id="inter-modem">
    <ul class="nav nav-pills" style="margin-bottom: 10px;" v-show="modems && modems.length > 1 && moInfo.code != -6">
        <li role="presentation" v-for="(item,index) in modems" :class="{'active': modemIndex == index}" @click="checkModem(index)">
            <a target="_blank">{{t('Modem') + (index + 1)}}</a>
        </li>
    </ul>
    <div class="state-box panel panel-default" v-for="(item, index) in modems" v-if="(index == modemIndex || modems.length == 1) && moInfo.code != -6">
        <!-- head -->
        <div class="internet-btn panel-heading">
            <h4>
                <!-- 标题或者运营商信息 -->
                <span class="circle" :class="{'active' : item.up == 'on' && moInfo.code != -6, 'waiting': item.up == 'connecting' && moInfo.code != -6}"></span>
                {{moInfo.code != -6 ? (item.carrier || t($lang.internet.modem)) : t($lang.internet.modem)}}
            </h4>
            <!-- 信号显示 -->
            <span class="signal" v-show="item.signal && item.modem_id != 255">
                <span class="signal-modem">{{item.mode}}</span>
                <span class="signal-one" :class="{'singnal-active':item.signal >= 1}"></span>
                <span class="signal-two" :class="{'singnal-active':item.signal >= 2}"></span>
                <span class="signal-three" :class="{'singnal-active':item.signal >= 3}"></span>
                <span class="signal-four" :class="{'singnal-active':item.signal == 4}"></span>
            </span>
            <!-- 短信 -->
            <router-link to="/smessage" v-show="item.modem_id != 255" class="newsmsNumMiFi">
                <span class="fa fa-envelope pull-right" style="padding: 7px 10px;font-size: 24px;position: relative;">
                    <span class="newsmsNum" v-show="item.newsms > 0">{{item.newsms}}</span>
                </span>
            </router-link>
        </div>
        <!-- content -->
        <div class="panel-bg-3G-Modem" style="position: relative;min-height: 125px">
            <div class="panel-body panel-status">
                <!--  index == resetIndex -->
                <div v-if="!moreset" class="modem-loading">
                    <gl-loading></gl-loading>
                </div>
                <div v-else>
                    <!-- sim卡插入 sim卡信息 -->
                    <div v-if="mosetting">
                        <span class="list-group-item">
                            <span class="text-left">{{t($lang.internet.modemName)}}</span>
                            <span id="idUsbStaIp" class="pull-right">{{item.name != 'unknown' ? item.name : '-'}}</span>
                        </span>
                        <span class="list-group-item">
                            <span class="text-left">IMEI</span>
                            <span id="idUsbStaIp" class="pull-right">{{item.IMEI || '-'}}</span>
                        </span>
                        <!-- 网络已连接显示 rx/tx -->
                        <transition name="main-fade" mode="out-in">
                            <span v-show="item.up == 'on'">
                                <span class="list-group-item">
                                    <span class="text-left">{{t($lang.internet.ipAddress)}}</span>
                                    <span id="idUsbStaIp" class="pull-right" v-text="item.ip_addr || '-'"></span>
                                </span>
                                <span class="list-group-item">
                                    <span class="text-left">{{t($lang.internet.upload)}}</span>
                                    <span id="idUsbStaIp" class="pull-right" v-text="getFlow(item.upload) || '-'"></span>
                                </span>
                                <span class="list-group-item">
                                    <span class="text-left">{{t($lang.internet.download)}}</span>
                                    <span id="idUsbStaIp" class="pull-right" v-text="getFlow(item.download) || '-'"></span>
                                </span>
                            </span>
                        </transition>
                        <!-- 断开连接 自动连接按钮 -->
                        <div style="text-align: center;padding: 10px" class="conneting">
                            <!-- disconnect -->
                            <gl-btn type="danger" @click="moDisconnect(item, index)" :disabled="mobtnStatus" v-if="item.up == 'on'">
                                <span>{{t($lang.button.disconnect)}}</span>
                                <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="mobtnStatus && index == connectIndex"></span>
                            </gl-btn>
                            <!-- abort -->
                            <gl-btn type="danger" @click="moDisconnect(item, index)" :disabled="mobtnStatus" v-if="item.up == 'connecting'">
                                <span>{{t($lang.button.abort)}}</span>
                                <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="mobtnStatus && index == connectIndex"></span>
                            </gl-btn>
                            <!-- automat -->
                            <gl-btn type="default" @click="autoSet(item, index)" :disabled="mobtnStatus" v-if="item.up == 'off'">
                                <span>{{t(btnName['btn' + index])}}</span>
                                <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="mobtnStatus && index == connectIndex"></span>
                            </gl-btn>
                        </div>
                    </div>
                    <!-- sim卡设置 -->
                    <div v-else>
                        <!-- Device -->
                        <span class="list-group-item clearfix">
                            <div class="text-left modem-left pull-left">
                                <gl-label :labelValue="$lang.label.device"></gl-label>
                            </div>
                            <div class="list-input-field input-append">
                                <div class="password-check">
                                    <div class="passtrengthMeter">
                                        <gl-select :option="item.ports" v-model="modevice"></gl-select>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- service -->
                        <span class="list-group-item clearfix">
                            <div class="text-left modem-left pull-left">
                                <gl-label :labelValue="$lang.label.service"></gl-label>
                            </div>
                            <div class="list-input-field input-append">
                                <div class="password-check">
                                    <div class="passtrengthMeter">
                                        <gl-select :option="moServiceList" v-model="moservice"></gl-select>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <!-- APN -->
                        <span class="list-group-item clearfix">
                            <div class="text-left modem-left pull-left">
                                <gl-label :labelValue="$lang.label.apn" style="text-transform: uppercase"></gl-label>
                            </div>
                            <!-- web -->
                            <div style="float: right;padding: 10px 25px 10px 0px;" class="visible-xs" v-if="moInfo.success && apns[index].length <= 0 && !mobtnStatus && !configapn">
                                <span class="fa fa-circle-o-notch glyphicon-spin-animate"></span>
                            </div>
                            <div class="list-input-field input-append">
                                <div class="password-check">
                                    <div class="passtrengthMeter">
                                        <gl-select :option="apns[index]" v-model="moapns['apn' + index]" optionName="-apn"
                                            input @postValue="getmoapn"></gl-select>
                                    </div>
                                </div>
                            </div>
                            <!-- pc -->
                            <div style="float: right;padding: 10px" class="hidden-xs" v-if="moInfo.success && apns[index].length <= 0 && !mobtnStatus && configapn">
                                <span class="fa fa-circle-o-notch glyphicon-spin-animate"></span>
                            </div>
                        </span>
                        <span class="list-group-item  text-center clearfix">
                            <a @click="$router.push({path: 'attools', query: {index: index}})">{{t($lang.index.atCommand)}}</a>
                            <a @click="changeModal" style="margin: 0 20px;">{{t($lang.button.advanced)}}</a>
                            <!-- <a @click="$router.push('smessage')" style="margin-right: 20px" v-show="item.modem_id != 255">{{t($lang.index.shrotmsg)}}</a> -->
                            <!-- 没有获取sim运营商信息 modem reset -->
                            <a @click="clickMoReset(item, index)">{{t($lang.internet.modemReset)}}</a>
                        </span>
                        <!-- 高级设置 -->
                        <span class="list-group-item clearfix" v-show="modeStatus">
                            <div class="text-left modem-left pull-left">
                                <gl-label :labelValue="$lang.label.pincode"></gl-label>
                            </div>
                            <div class="list-input-field input-append input-group">
                                <gl-input type="text" :placeholder="$lang.internet.option" v-model="mopincode"></gl-input>
                            </div>
                        </span>
                        <span class="list-group-item clearfix" v-show="modeStatus">
                            <div class="text-left modem-left pull-left">
                                <gl-label :labelValue="$lang.label.dianum"></gl-label>
                            </div>
                            <div class="list-input-field input-append input-group">
                                <gl-input type="text" :placeholder="$lang.internet.option" v-model="mopdanum"></gl-input>
                            </div>
                        </span>
                        <span class="list-group-item clearfix" v-show="modeStatus">
                            <div class="text-left modem-left pull-left">
                                <gl-label :labelValue="$lang.label.userName"></gl-label>
                            </div>
                            <div class="list-input-field input-append input-group">
                                <gl-input type="text" :placeholder="$lang.internet.option" v-model="mousername"></gl-input>
                            </div>
                        </span>
                        <span class="list-group-item clearfix" v-show="modeStatus">
                            <div class="text-left modem-left pull-left">
                                <gl-label :labelValue="$lang.internet.psw"></gl-label>
                            </div>
                            <div class="list-input-field input-append input-group">
                                <gl-input type="password" :placeholder="$lang.internet.option" v-model="mopasswd"
                                    inputShow></gl-input>
                            </div>
                        </span>
                        <!-- 取消 自动 应用按钮 -->
                        <div class="text-center" style="padding: 10px 0">
                            <gl-btn type="modify" @click="clickBack(index)">{{t($lang.button.cancel)}}</gl-btn>
                            <gl-btn type="purple" @click="manualSet(item, index)">
                                {{t($lang.button.apply)}}
                            </gl-btn>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 手动设置 -->
        <div class="panel-heading" v-show="moInfo.success && item.up == 'off' && !mobtnStatus && mosetting">
            <span>
                <a @click="clickMoSet(item, index)">{{t($lang.internet.manuSetup)}}</a>
            </span>
        </div>
    </div>
    <!-- 模块不存在 -->
    <div class="state-box panel panel-default" v-if="!modems || moInfo.code == -6">
        <div class="internet-btn panel-heading">
            <h4>
                <span class="circle"></span>
                {{t($lang.internet.modem)}}
            </h4>
        </div>
        <div class="panel-body panel-status">
            <div class="internet-text clearfix">
                <img src="/src/static/images/3G-Modem.jpg" class="internet-img">
                <div class="uninter">
                    <span>{{t($lang.internet.noModem)}}. {{t($lang.internet.plug_modem)}}.</span>
                </div>
            </div>
        </div>
    </div>
</div>