<div class="internet" id="internet_wrapper">
    <!-- Ththering 3/4G modem -->
    <div class="row" id="internet-status">
        <!-- <transition name="onlist"> -->
            <component :is="item" v-for="item in onlist" class="col-lg-12 col-xs-12 internet-status uninternet" ></component>
        <!-- </transition> -->
    </div>
    <div class="row" id="internet-state">
        <component :is="item" v-for="item in offlist" :class="stateClass" class="col-xs-12 internet-state"></component>
    </div>
</div>