<div id="inter-wifi">
    <div id="panel" class="panel panel-default">
        <div class="panel-heading">
            <h4 style="max-width: 60%">
                <span class="circle" :class="circleClass"></span>
                <span class=" clsStaSSID" v-text='stassid'></span>
                <span v-if="stachannel" class="badge badge-pill badge-secondary hidden-xs" style="background: #cccccc;vertical-align: top;margin-top: 3px">5G</span>
            </h4>
            <gl-btn type="default" class="pull-right" @click="$router.push('setWifi')" v-if="stascan">{{t($lang.internet.scan)}}</gl-btn>
        </div>
        <!-- ip 冲突 -->
        <div class="alert alert-info idScanWifiAlertMsg" v-if="ipconflict">
            <div class="text-left alert-red" style="color: chocolate;">
                <span class="fa-exclamation-circle fa"></span>
                {{t($lang.internet.subnetConflict)}}
                <b>
                    <a @click="$router.push('lanip')">{{t($lang.internet.set)}}</a>
                </b>
                <span style="text-transform: uppercase">{{t($lang.internet.lanip)}}</span>
            </div>
        </div>
        <div :class="{'panel-bg-wifi': staconnect }">
            <div class="panel-body panel-status">
                <div class="list-group" id="hasApPanel" v-if="staconnect">
                    <span class="list-group-item">
                        <span class="text-left">{{t($lang.internet.ipAddress)}}</span>
                        <span class="pull-right" id="idUsbStaIp" v-text="stainfo.success==1&&stainfo.connected==true?stainfo.ip:'-'"></span>
                    </span>
                    <span class="list-group-item">
                        <span class="text-left">{{t($lang.internet.netmask)}}</span>
                        <span class="pull-right" id="idUsbStaMask" v-text="stainfo.success==1&&stainfo.connected==true?stainfo.mask: '-'"></span>
                    </span>
                    <span class="list-group-item">
                        <span class="text-left">{{t($lang.internet.gateway)}}</span>
                        <span class="pull-right" id="idUsbStaGateway" v-text="stainfo.gateway ? stainfo.gateway : '-'"></span>
                    </span>
                    <span class="list-group-item clearfix">
                        <span class="text-left">{{t($lang.internet.dnsServer)}}</span>
                        <span class="pull-right" v-text="stainfo.dns ? (stainfo.dns.length > 0 ? stainfo.dns[0] : '-') : '-'"></span>
                        <br />
                        <span class="pull-right" v-text="stainfo.dns ? (stainfo.dns.length > 0 ? stainfo.dns[1] : '') : ''"></span>
                    </span>
                    <div style="text-align: center;padding: 10px;">
                        <gl-btn type="danger" @click="disconnectwifi" :disabled="disconnectstatus">
                            {{t($lang.button.disconnect)}}
                            <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-if="disconnectstatus"></span>
                        </gl-btn>
                    </div>
                </div>
                <div id="noApPanel" v-else>
                    <div class="internet-text clearfix">
                        <img src="/src/static/images/wifi.jpg" class="internet-img">
                        <div class="uninter">
                            <span>
                                {{t($lang.internet.repeaterDisabled)}}.
                                <!-- {{t($lang.button.click)}} -->
                                <b>
                                    {{t($lang.internet.setup_wifi)}}.
                                    <a @click="$router.push('setWifi')">
                                        {{t($lang.internet.scan)}}
                                    </a>
                                </b>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <a @click="$router.push('knownwifi')">
                {{t($lang.internet.savedStation)}}
            </a>
        </div>
    </div>
</div>