<div class="row first-row-margin" id="savedWifi" v-cloak>
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a @click="$router.push('internet')" style="text-transform: uppercase">{{t($lang.knownWifi.internet)}}</a>
            </li>
            <li class="gl-active">{{t($lang.knownWifi.WifiNetworks)}}</li>
            <!-- <li><a @click="$router.push('setWifi')">{{t($lang.knownWifi.scan)}}</a></li> -->
        </ol>
        <div class="wifi-list">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="display:inline-block;">
                        <span class="circle active"></span>
                        {{t($lang.knownWifi.WifiNetworks)}}
                    </h4>
                </div>
                <div class="panel-body">
                    <div id="noKnownWifiMsg" v-if="wifiData.length==0">
                        <span>{{t($lang.knownWifi.noKnowWifi)}},</span>
                        <span>{{t($lang.knownWifi.setup_wifi)}}.</span>
                        <b>
                            <a Href='#' @click="$router.push('setwifi')">
                                {{t($lang.knownWifi.scan)}}
                            </a>
                        </b>
                    </div>
                    <div v-else id="accordion">
                        <!-- <div class="alert" id="idKnownWifiAlertMsg" style="padding:20px; margin:0; border-radius:0px; border:0px solid transparent;"
                            :class="{hide:!alertStatus,'alert-success':alertStatus=='success','alert-info':alertStatus=='info','alert-danger':alertStatus=='error'}">
                            {{alertInfo}}
                        </div> -->
                        <div v-for="(wifi,index) in wifiData">
                            <a data-toggle="collapse" data-parent="#accordion" class="list-group-item" :href="'#known_'+index"
                                @click="clickItem">
                                <span :class="[isConnecting?(index==connectingIndex?sLodingIconCls:noConnectWifiIcon):(stainfo.ip&&stainfo.mac == wifi.bssid&&stainfo.enabled?connectWifiIcon:noConnectWifiIcon)]"></span>
                                <span class="text-left wifilist-SSID" v-text='wifi.ssid'>
                                    {{t($lang.knownWifi.loading)}}</span>
                                <span v-show="wifi.channel >= 36" class="badge badge-pill badge-secondary" style="background: #cccccc;float: none;margin-left: 5px;">5G</span>
                                <span class="pull-right">
                                    <span class="gli-icon-lock" v-if="wifi.encryption!='none'"></span>
                                    <span class="clsScanKnownWifi triangle-mark"></span>
                                </span>
                            </a>
                            <div class="panel-collapse collapse wifilistCollapse" :id="generateId('known',index)">
                                <div class="wifi-body clearfix">
                                    <div class="wifi_left" v-show="wifi.encryption!='none'" :class="{'has-error':wifi.hasError}">
                                        <gl-input type="password" inputShow v-model.trim="wifi.newKey" disabled="true"></gl-input>
                                    </div>
                                    <div class="wifi_right">
                                        <gl-btn type="modify" class="btnl" :disabled="isConnecting" @click="forgetWifi(index)">{{t($lang.button.forget)}}</gl-btn>
                                        <gl-btn type="default" class="btnr" :disabled="isConnecting || !wifi.in_range"
                                            @click="joinWifi(index)">{{t($lang.button.join)}}</gl-btn>
                                    </div>
                                    <div class="wifi_web">
                                        <gl-btn type="modify" class="btnl " :disabled="isConnecting" @click="forgetWifi(index)">{{t($lang.button.forget)}}</gl-btn>
                                        <gl-btn type="default" class="btnr" :disabled="isConnecting || !wifi.in_range"
                                            @click="joinWifi(index)">{{t($lang.button.join)}}</gl-btn>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>