/build_dir/target-mips_24kc_musl/root*
/build_dir/target-mips_24kc_musl/linux-ar71xx_nand/tmp
/build_dir/target-mips_24kc_musl/linux-ar71xx_nand/*initramfs*
/build_dir/target-mips_24kc_musl/linux-ar71xx_nand/*squashfs*
/bin
/dl
*.sig
packages/Packages
packages/Packages.gz
/.profiles.mk
/tmp
/staging_dir/host/.prereq-build
/files
/glinet
