<div class="row first-row-margin">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <a @click="$router.go(-1)" style="text-transform: uppercase">{{t($lang.setWifi.internet)}}</a>
            </li>
            <li class="gl-active">{{t($lang.setWifi.wifi)}}</li>
        </ol>
        <div class="wifi-list" id="setWifiList">
            <div id="buttonPanel" class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="display:inline-block;">
                        <span class="circle" id="ScanwifiCircle" :class="{active:stainfo&&stainfo.success&&stainfo.enabled}"></span>
                        <span id="ScanwifiSSID" v-text="stainfo&&stainfo.success&&stainfo.connected?stainfo.ssid:'Wi-Fi'"></span>
                    </h4>
                    <gl-btn type="default" class="pull-right" @click="reScan" :disabled="btnMove">{{t($lang.setWifi.scan)}}</gl-btn>
                </div>
                <!-- <div class="alert" :class="[alertStatus=='info'?'alert-info':'alert-danger']" id="idScanWifiAlertMsg" v-text="t(alertInfo)">
                </div> -->
                <div class="panel-status panel-body"  v-show="wifilist">
                    <!-- SSID -->
                    <div class="list-group-item clearfix setWifiBox" style="border-top: none">
                        <span class="pull-left setWifi-text">
                            <gl-label :labelValue="$lang.label.ssid"  style="text-transform: uppercase"></gl-label>
                        </span>
                        <span class="pull-right setWifi-right set-select" style="min-width: 280px;max-width: 280px;">
                            <gl-select :option="sortWifiData" :disabled="btnMove" optionName="ssid" showNum="8" class="setwifiSelect" v-model="wifiName"
                                wifiIcon :stainfo="(stainfo.success&&stainfo.enabled&&stainfo.ip) ? stainfo.mac:false" @wifichange="changeWifi"></gl-select>
                        </span>
                    </div>
                    <!-- Mode -->
                    <!-- <div class="list-group-item clearfix setWifiBox" v-show="modeState!='EAP'">
                        <span class="pull-left setWifi-text">
                            <gl-label :labelValue="$lang.label.mode"></gl-label>
                        </span>
                        <span class="pull-right setWifi-right">
                            <gl-select :option="mode" v-model="modeState"></gl-select>
                        </span>
                    </div> -->
                    <!-- userName -->
                    <div class="list-group-item clearfix setWifiBox" v-show="modeState=='EAP'">
                        <span class="pull-left setWifi-text">
                            <gl-label :labelValue="$lang.label.userName"></gl-label>
                        </span>
                        <span class="pull-right setWifi-right" style="margin-bottom: 5px;">
                            <gl-input v-model="usname" :disabled="btnMove" type="text" class="set-input"></gl-input>
                        </span>
                    </div>
                    <!-- Password -->
                    <div class="list-group-item clearfix setWifiBox" v-show="curSelect.encrypt != 'none'">
                        <span class="pull-left setWifi-text">
                            <gl-label :labelValue="$lang.label.psw"></gl-label>
                        </span>
                        <span class="pull-right setWifi-right" style="margin-bottom: 5px;">
                            <gl-input v-model="psw" :disabled="btnMove" type="password" inputShow class="set-input"></gl-input>
                        </span>
                    </div>
                    <!-- LAN IP -->
                    <div class="list-group-item clearfix setWifiBox" v-show="modeState=='WDS'">
                        <span class="pull-left setWifi-text">
                            <gl-label :labelValue="$lang.label.lanip" style="text-transform: uppercase"></gl-label>
                        </span>
                        <span class="pull-right setWifi-right" style="margin-bottom: 5px;">
                            <gl-input type="text" :disabled="btnMove" v-model="lanip" class="set-input"></gl-input>
                        </span>
                    </div>
                    <!-- Remember  -->
                    <div class="list-group-item clearfix setWifiBox">
                        <span class="pull-left">
                            <gl-label :labelValue="$lang.label.remember"></gl-label>
                        </span>
                        <span class="pull-right">
                            <!-- <gl-tooltip :content="$lang.toolTip.remeber_net"> -->
                                <gl-switch size="22px" theme="default" v-model="isRember" :disabled="btnMove"></gl-switch>
                            <!-- </gl-tooltip> -->
                        </span>
                    </div>
                    <div class="setWifiBox" style="text-align: center;padding: 10px;">
                        <gl-btn type="text" type="default" :disabled="joinstate || btnMove" @click="join">
                            {{t($lang.button.join)}}
                            <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="btnMove"></span>
                        </gl-btn>
                    </div>
                </div>
            </div>
            <div class="progress clsScanWifiProgress" v-show="scanDone==false">
                <div class="progress-bar progress-bar-striped active" id="idScanwifiProgressBar" role="progressbar" :aria-valuenow="iProgress"
                    aria-valuemin="0" aria-valuemax="100" :style="progressWidthObj" style="width:0;color: #fff!important">{{iProgress+'%'}}</div>
            </div>


        </div>
    </div>