<div class="select-drop-down" :class="{'open':show}" ref="select">
    <div class="select-control">
        <div class="input-control" :class="{'focus':show,'placeholder':showPlaceholder,'disabled':disabled,'select-xs': long}">
            {{checkLang ? defaultText : t(defaultText)}}
        </div>
        <gl-input type="text" class="select-input" v-model="defaultText" v-show="input" :check="check" @postValue="getValue" @blurValue='blurValue'></gl-input>
        <span class="fa-angle-down fa"></span>
    </div>
    <transition name="slide-toggle">
        <div class="drop-down" v-show="show">
            <div class="drop-down-border" :style="showLiNum">
                <ul>
                    <li v-if="optionName" v-for="(item, index) in optionArray" @click="_itemClick(item,$event,index)" ref="li" :class="{'active': defaultIndex != -1 ? defaultIndex == index : item[optionName] == defaultText}">
                        <span :class="{'selectText': wifiIcon}"> {{ checkLang ? item[optionName] : t(item[optionName])}}</span>
                    </li>
                    <li v-else @click="_itemClick(item,$event)" ref="li" :class="{'active':item==defaultText}">{{checkLang ? item : t(item)}}</li>
                </ul>
            </div>
        </div>
    </transition>
</div>