.network_img {
    min-height: 170px;
}
/* 路由 */
.network_img.router {
    background: url(/src/static/images/network_map-router+WISP-01.jpg)  no-repeat center center;
}
/* 有线桥接 */
.network_img.ap {
    background: url(/src/static/images/network_map-AP-02.jpg)  no-repeat center center;
}
/* 无线桥接 relay */
.network_img.relay {
    background: url(/src/static/images/network_map-Extender+WDS-03.jpg)  no-repeat center center;
}
/* 无线桥接 wds */
.network_img.wds {
    background: url(/src/static/images/network_map-Extender+WDS-03.jpg)  no-repeat center center;
}
.network_mode {
    padding: 50px 30px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}
.network_instruction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background: rgba(0,0,0,.1)
}
@media screen and (max-width: 768px) {
    .network_img {
        min-height: 120px;
        background-size: 100%!important;
    }
}
/* .network_mode > .border-none:hover {
    background: #7f7f7f;
} */
#idMacCloneAlertMsg{
    padding: 10px 10px;
}