<div class="row ">
    <div class="col-lg-12">
        <div class="panel panel-default " id="idDNSPanel">
            <div class="panel-heading">
                <h4>
                    <span class="circle active"></span>
                    {{t($lang.dns.cusDns_ss)}}
                </h4>
                <gl-btn type="purple" class="pull-right" :disabled="applystatus" id="idApplyBtn" @click="applyDNS">{{t($lang.button.apply)}}</gl-btn>
            </div>
            <div class="panel-body panel-status">
                <div class="list-group">
                    <!-- rebind -->
                    <span class="list-group-item slider-btn-inlist">
                        <div class="text-left ">{{t($lang.dns.rebindProtection)}}
                            <gl-tooltip :content="$lang.toolTip.disabled_dns" direction="top">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </gl-tooltip>
                        </div>
                        <div class="pull-right btn-toggler-right">
                            <gl-tg-btn size="22px" theme="default" v-model="getdnsinfo.rebind_protection" @onclick="checkBtn"></gl-tg-btn>
                        </div>
                    </span>
                    <!-- force_dns -->
                    <span class="list-group-item slider-btn-inlist">
                        <div class="text-left force_dns">{{t($lang.dns.overrideClient)}}
                            <gl-tooltip :content="$lang.toolTip.dnsInstructions" direction="top">
                                <a href="http://www.gl-inet.com/docs/" target="_blank">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </a>
                            </gl-tooltip>
                        </div>
                        <div class="pull-right btn-toggler-right">
                            <gl-tg-btn size="22px" theme="default" v-model="getdnsinfo.force_dns" @onclick="checkBtn"></gl-tg-btn>
                        </div>
                    </span>
                    <!-- cloudflare_dns -->
                    <span class="list-group-item slider-btn-inlist" v-if="router.model != 'vixmini'">
                        <div class="text-left ">{{t($lang.dns.dns_tls)}}</div>
                        <div class=" pull-right btn-toggler-right">
                            <gl-tg-btn size="22px" theme="default" v-model="cloudflare_dns" :disabled="manual_dns" @onclick="checkBtn"></gl-tg-btn>
                        </div>
                    </span>
                    <!-- 手动DSN设置 -->
                    <span class="list-group-item slider-btn-inlist">
                        <div class="text-left ">{{t($lang.dns.manualSet)}}</div>
                        <div class=" pull-right btn-toggler-right">
                            <gl-tg-btn size="22px" theme="default" v-model="manual_dns" :disabled="cloudflare_dns" @onclick="checkBtn"></gl-tg-btn>
                        </div>
                    </span>
                    <span class="list-group-item" v-show="manual_dns">
                        <p class="text-left alert-red">
                            <!-- <span class="fa fa-info-circle"></span> -->
                            {{t($lang.dns.dnsInstructions)}}.
                        </p>
                        <br/>
                        <!-- DNS Server1 -->
                        <div class=" input-group " id="inputDNS1Check">
                            <span class="input-group-addon"> {{t($lang.dns.dnsServer)}}1</span>
                            <gl-input v-model="dnsInputVal1" :error="!dnsInputStatus1" :placeholder="!dnsInputVal1?$lang.dns.chooseDns:dnsInputVal1"
                                @postValue="checkbutton"></gl-input>
                        </div>
                        <br/>
                        <!-- DNS Server2 -->
                        <div class=" input-group" id="inputDNS2Check">
                            <span class="input-group-addon">{{t($lang.dns.dnsServer)}}2</span>
                            <gl-input v-model="dnsInputVal2" :error="!dnsInputStatus2" :placeholder="!dnsInputVal2?$lang.dns.chooseDns:dnsInputVal2"
                                @postValue="checkbutton"></gl-input>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>