<div class="row">
    <div class="col-lg-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <h4>
                    <span class="circle active"></span>
                    {{t($lang.network.networkArchitecture)}}
                </h4>
            </div>
            <div class="panel-body panel-status">
                <!-- 图片 -->
                <div class="network_img" :class="mode"></div>
                <div id="idMacCloneAlertMsg" class="list-group-item alert alert-info">
                    <span class="fa-info-circle fa"></span>{{t($lang.network.bridgeMsg)}}
                    <br> <span class="fa-info-circle fa"></span>{{t($lang.network.bridge_msg)}}
                </div>
                <br>
                <!-- 内容 -->
                <div class="list-group network_mode">
                    <div class="network_instruction">
                        <span class="text-left">
                            <span class="fa fa-home"></span>
                            {{t($lang.network.mode_switching)}}
                        </span>
                        <!-- <gl-tooltip content="" class="pull-right">
                            <a href="#">
                                <span class="glyphicon glyphicon-question-sign"></span>
                                <span>{{t($lang.network.help)}}</span>
                            </a>
                        </gl-tooltip> -->
                    </div>
                    <transition name="component-fade" mode="out-in">
                        <!-- one page -->
                        <div v-if="page == 'one'">
                            <div class="list-group-item clearfix border-none">
                                <div class="radio">
                                    <label for="routerMode" style="width: 100%">
                                        <input type="radio" name="seletVPN" value="router" v-model="mode" id="routerMode">
                                        <span class="cr app-install-select">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <div class="wifimode">{{t($lang.modal.router)}}</div>
                                    </label>
                                </div>
                            </div>
                            <div class="list-group-item clearfix border-none" v-show="apmode">
                                <div class="radio">
                                    <label for="apMode" style="width: 100%">
                                        <input type="radio" name="seletVPN" value="ap" v-model="mode" id="apMode">
                                        <span class="cr app-install-select">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <div class="wifimode">{{t($lang.modal.ap)}}</div>
                                    </label>
                                </div>
                            </div>
                            <div class="list-group-item clearfix border-none" v-show="relaymode">
                                <div class="radio">
                                    <label for="extenderMode" style="width: 100%">
                                        <input type="radio" name="seletVPN" value="relay" v-model="mode" id="extenderMode">
                                        <span class="cr app-install-select">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <div class="wifimode">{{t($lang.modal.extender)}}</div>
                                    </label>
                                </div>
                            </div>
                            <div class="list-group-item clearfix border-none" v-show="wdsmode">
                                <div class="radio">
                                    <label for="wdsMode" style="width: 100%">
                                        <input type="radio" name="seletVPN" value="wds" v-model="mode" id="wdsMode">
                                        <span class="cr app-install-select">
                                            <i class="fa fa-check"></i>
                                        </span>
                                        <div class="wifimode">{{t($lang.modal.wds)}}</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- two page -->
                        <div v-if="page == 'two'" class="wifilist">
                            <!-- class="style-2" :nodeNum="3" -->
                            <gl-loading v-if="wifiload"></gl-loading>
                            <div v-else>
                                <div class="list-group-item clearfix border-none">
                                    <span class="text-left indexwifi-left">
                                        <gl-label :labelValue="$lang.label.ssid" style="text-transform: uppercase"></gl-label>
                                    </span>
                                    <span class="pull-right indexwifi-right">
                                        <gl-select :option="wifidata" optionName="ssid" showNum="8" wifiIcon @change="changeWifi"
                                            :disabled="joinStatus"></gl-select>
                                    </span>
                                </div>
                                <!-- userName -->
                                <div class="list-group-item clearfix border-none" v-show="modeState == 'EAP'">
                                    <span class="text-left indexwifi-left">
                                        <gl-label :labelValue="$lang.label.userName"></gl-label>
                                    </span>
                                    <span class="pull-right indexwifi-right">
                                        <gl-input v-model="usname" type="text" :disabled="joinStatus"></gl-input>
                                    </span>
                                </div>
                                <!-- Password -->
                                <div class="list-group-item clearfix border-none">
                                    <span class="text-left indexwifi-left">
                                        <gl-label :labelValue="$lang.label.psw"></gl-label>
                                    </span>
                                    <span class="pull-right indexwifi-right">
                                        <gl-input v-model="psw" type="password" inputShow :disabled="joinStatus"></gl-input>
                                    </span>
                                </div>
                                <!-- LAN IP -->
                                <!-- <div class="list-group-item clearfix border-none" v-show="modeState=='WDS'">
                                    <span class="pull-left indexwifi-left">
                                        <gl-label :labelValue="$lang.label.lanip"></gl-label>
                                    </span>
                                    <span class="pull-right indexwifi-right">
                                        <gl-input type="text" :disabled="joinStatus" v-model="lanip"></gl-input>
                                    </span>
                                </div> -->
                            </div>
                        </div>
                    </transition>
                    <div class="text-center" style="padding-top: 10px;" v-show="!wifiload">
                        <gl-btn type="modify" @click="back" v-show="page == 'two' && !joinStatus">{{t($lang.button.cancel)}}</gl-btn>
                        <gl-btn type="purple" @click="checkMode" :disabled="joinStatus || bridgeMode.bridge == mode">
                            {{t($lang.button.apply)}}
                            <span class="fa fa-circle-o-notch glyphicon-spin-animate" v-show="joinStatus"></span>
                        </gl-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- WDS and AP -->

    <gl-modal :modalStatus="msgModal" size="sm" :title="$lang.setting.aeecssingRouter" v-if="startModalWDS">
        <div class="modal-body software-body" style="overflow: visible">
            <span>
                {{t($lang.setting.WDSANDAP)}}
                <span class="cleanfix"></span>
            </span>
        </div>
        <div class="modal-footer" style="text-align: center">
            <gl-btn class="clientBtn" type="default" @click="resetPage" style="padding: 5.5px 24px">{{t($lang.button.close)}}</gl-btn>
        </div>
    </gl-modal>

    <!-- Extender mode -->
    <gl-modal :modalStatus="msgModal" size="sm" :title="$lang.setting.aeecssingRouter" v-if="startModalEXT">
        <div class="modal-body software-body" style="overflow: visible">
            <span>
                {{t($lang.setting.EXT)}}
                <span class="cleanfix"></span>
            </span>
        </div>
        <div class="modal-footer" style="text-align: center">
            <gl-btn class="clientBtn" type="default" @click="resetPage" style="padding: 5.5px 24px">{{t($lang.button.close)}}</gl-btn>
        </div>
    </gl-modal>
</div>